@keyframes showSphere{
  to{
    transform: translateX(0%) scale(1);
  }
}
@keyframes reveal{
  to{
    opacity: 1;
  }
}
@keyframes pointsRotate{
  to{
    transform: rotate(180deg);
  }
}
@keyframes showPoint{
  0% {
    transform: scale(0);
  }
  15%{
    transform: scale(1.5);
  }
  30%{
    transform: scale(1);
  }
  70%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}
@keyframes leftPie{
  to{
    transform: rotate(0deg);
  }
}
@keyframes hidePie{
  to{
    opacity: 0;
  }
}