@font-face {
  font-family: Gotham Pro;
  src: url('../fonts/GothamPro/GothamPro-Light.eot'),
  url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Gotham Pro;
  src: url('../fonts/GothamPro/GothamPro.eot'),
  url('../fonts/GothamPro/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gotham Pro;
  src: url('../fonts/GothamPro/GothamPro-Medium.eot'),
  url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gotham Pro;
  src: url('../fonts/GothamPro/GothamPro-Bold.eot'),
  url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Yadro;
  src: url('../fonts/Logo/yadro.eot'),
  url('../fonts/Logo/yadro.woff') format('woff'),
  url('../fonts/Logo/yadro.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
